<div class="main">
    <div class="main__breadcrumbs">
        <span class="main__breadcrumbs-item">
            Главная
        </span>
    </div>

    <h1 class="main__title">Главная</h1>

    <h4 class="main__subtitle">Разделы</h4>

    <div class="main__sections">
        <div class="main__sections-item">
            <a [routerLink]="['/edit-test']" class="main__section-item-title">Редактирование вопросов</a>
        </div>
        <div class="main__sections-item">
            <a [routerLink]="['/results']" class="main__section-item-title">Результаты тестирований</a>
        </div>
        <div class="main__sections-item">
            <a [routerLink]="['/test']" class="main__section-item-title">Пройти тестирование</a>
        </div>
    </div>
</div>