<div class="test">

    <h1 class="test__title">Тестирование</h1>

    <div class="test__questions">
        <div class="test__questions-item">
            <app-question></app-question>
        </div>
        <div class="test__questions-item">
            <app-question></app-question>
        </div>
        <div class="test__questions-item">
            <app-question></app-question>
        </div>
        <div class="test__questions-item">
            <app-question></app-question>
        </div>
        <div class="test__questions-item">
            <app-question></app-question>
        </div>
        <div class="test__questions-item">
            <app-question></app-question>
        </div>
    </div>
    <a [routerLink]="['/test-result']" class="test__questions-finish-btn">Закончить</a>
</div>