<div class="edit-question">
    <div class="edit-question__field">
        <label for="question-text" class="edit-question__field-label">
            Текст вопроса
        </label>
        <input id="question-text" type="text">
    </div>
    <div class="edit-question__field">
        <label for="question-image" class="edit-question__field-label">
            Картинка
        </label>
        <button>Выбрать файл</button>
        <input hidden id="question-image" type="file">
    </div>

    <div class="edit-question__images"></div>

    <div class="">Возможные ответы</div>

    <div class="edit-question__answer">
        <div class="edit-question__field">
            <label>Правильный</label>
            <input type="text">
        </div>
        <div class="edit-question__field">
            <label for="right">Правильный</label>
            <input id="right" type="checkbox">
        </div>
        <div class="edit-question__field">
            <label for="right">Загрузить картинку</label>
            <button>Выбрать файл</button>
            <input hidden type="file">
        </div>
        <div>
            <img>
        </div>
        <button class="edit-question__btn">Удалить ответ</button>
    </div>
    <button class="edit-question__btn">Добавить ответ</button>



</div>