.test-result {
  max-width: 980px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);

  padding: 20px;

  height: 100%;
}

.test-result__title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.test-result__questions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.test-result__questions-item:not(:last-child) {
  border-bottom: 2px solid #555;
}

.test-result__questions-finish-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  background-color: gray;
  text-decoration: none;
  color: black;
}
